
body{                                /*estilização do conteúdo da página, com cor,fonte, espaçamento para ficar alinhado*/
        font-family: 'Cinzel', serif;  
        background: linear-gradient(          /*gradiente p deixar a imagem de fundo mais suave*/
            90deg,
            rgba(214, 250, 216, 0.08),     
            rgba(235, 253, 239, 0.1)
          ),
        url("chairs.jpg");                
        background-repeat: no-repeat;
        background-size:cover;
    }     
    
    hr{
        color: rgb(196, 154, 77);
        width: 23%;
        margin: 0 auto 0 0;   
    }
    
    .mainTitle{
      padding-left: 10px;
      color:rgb(196, 154, 77);
      text-align: left;
    }
    .subTitle{
        padding-bottom: 20px;
        color: rgb(196, 154, 77);
        font-size: 15px;
        text-align: left;
    }
    .content{                            /*estilização da div que contém o conteúdo principal da app
                                                 */
      height: 280px;
      max-width:330px;
      background:url("background.jpg");
      color: rgb(196, 154, 77);
      position:relative;
      right: 400px;
      padding:10px;
      margin:auto;  
      border-radius:20px;	
      text-align:center;
      font-weight: bold;
      backdrop-filter: blur(70px);
      box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.797);
      border: solid 2px rgba(255, 255, 255, 0.027);
    }
    .lineMessage{
        width: 100%;
        margin: 0 auto 0 0;
        
    }
    .cardContainer{           
        height: 400px;
        width:500px;
        background: url("background.jpg");
        border-radius: 20px;
        backdrop-filter: blur(70px);
        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.797);
        border: solid 2px rgba(255, 255, 255, 0.027);
        position: relative;
        left:600px;
        bottom:350px;
        padding-left: 2px;
    }
    .card{width: 300px;
        height: 180px;
        background: linear-gradient(68.15deg, #2F2325 16.62%, #9b6767 85.61%);
        border-radius: 25px;
        position: relative;
        top:50px;
        left:100px;
    }
    .cardDigits{
        position: relative;
        top:220px;
        left:30px;
        background-color:#EEE8AA;
        border-radius:10px;
    }
    .button{
        position: relative;
        top:240px;
        left:100px;
        background-color:#EEE8AA;
        border-radius: 10px;
    }
    .navigator ul {                          /*est. do navegador, que tem um menu em forma de lista com conteúdos*/
	margin: 0 0 0 0px;                      /* que ao passar o mouse, mudam de cor */
	list-style-type: none;
    justify-content:space-evenly;	
	}
    .navigator li {
        display: inline;
        padding: 0 10px;
        position: relative;
        left: 500px;
        font-weight: bolder;
        
    }
    
    .navigator li a {
        text-decoration: none;
        color: rgb(196, 154, 77);
    }
    
    .navigator li a:hover {
        text-decoration: none;
        color: #fff;
    }
    
    .navigator{  	
        margin: 1em auto;  	
    
        }    

        .footerInfos{
            color: rgb(196, 154, 77);
            padding: 10px;
            text-align: center;
            font-size: 20px;
            font-weight: bolder;

        }
        .linkedin{
            width:70px;
            height:50px;
        }
        .github{
            width:70px;
            height:50px;
        }
    
          @media only screen and (max-device-width: 700px){

          }