
body{                                
     color:#fff;
     height: 100%;
    }     
    
    hr{
        color: rgb(56, 53, 53);
        width: 100%;
        margin: 0 auto 0 0; 
        border-width: 0;  
        height: 1px;
        border-top-width: 1px;
    }
    
    .mainTitle{
      font-family:'Bungee Shade', cursive;  
      padding-left: 5px;
      padding-bottom: 1px;
      padding-top: 1px;
      color:black;
      text-align: left;
    }
    .subTitle{
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 10px;
        color: black;
        font-size: 17px;
        text-align: left;
    }
    .message{
        font-size: 25px;
        font-weight: bold;
    }
    .cardMessage{
        text-align: center;

    }
    .content{                           
      font-family:Arial, Helvetica, sans-serif;
      color: black;
      position:relative;
      right: 400px;
      padding:10px;
      margin:10px;  
      text-align:center;
    }
    .cardContainer{           
        height: 400px;
        width:500px;
        background-color:#fff;
        backdrop-filter: blur(70px);
        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.527);
        border: solid 2px rgba(255, 255, 255, 0.027);
        position: relative;
        left:600px;
        bottom:230px;
        padding-left: 2px;
    }
    .card{
        width: 300px;
        height: 180px;
        background: linear-gradient(68.15deg, #2F2325 16.62%, #271f49 85.61%);
        border-radius: 25px;
        position: relative;
        top:50px;
        left:100px;
    }
    .cardDigits{
        position: relative;
        top:220px;
        left:30px;
        background-color:#EEE8AA;
    }
    .button{
        position: relative;
        top:240px;
        left:100px;
        background-color:#b89198;
        color:#fff;
    }
    .navigator ul {  
    font-family: Arial, Helvetica, sans-serif;                           
	margin: 0px;
    padding-bottom: 10px;                     
	list-style-type: none;
    justify-content:space-evenly;	
	}
    .navigator li {
        display: inline;
        padding: 0 10px;
        position: relative;
        left: 500px;
        font-weight: bolder;
        
    }
    
    .navigator li a {
        text-decoration: none;
        color: black;
    }
    
    .navigator li a:hover {
        text-decoration: none;
        color: #564c86;
    }
    
    .navigator{  	
        margin: 1em auto;  	
    }    

        .footerInfos{
            color: black;
            text-align: center;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        .linkedin{
            width:70px;
            height:50px;
        }
        .github{
            width:70px;
            height:50px;
        }
    
          @media only screen and (max-device-width: 700px){

        }